{% extends 'base.html.twig' %}

{% block title %}Arsenal FC | Accueil{% endblock %}

{% block body %}
{% include "./default/navbar.html.twig" %}
<h1>Bienvenue sur le site officiellement non officel du Arsenal FC</h1>
{% endblock %}
