{% extends 'base.html.twig' %}

{% block title %}Arsenal FC | Accueil
{% endblock %}

{% block body %}
	{% include "./default/navbar.html.twig" %}

	<div class="banner">
		<div class="banner_image"></div>
		<div class="banner_title">
			<h1>Bienvenue sur le site
				<br>
				officiellement non officel
				<br>
				du Arsenal FC</h1>
		</div>
	</div>

{% endblock %}
